requests
pyperclip
pandas
xlsxwriter

# pyarrow is optional and only required for Parquet export - uncomment to add.
# pyarrow

# If you have errors try uncommenting to install these exact versions:
# requests==2.32.3
# pyperclip==1.9.0
# pandas==2.2.2
# xlsxwriter==3.2.0
# pyarrow==16.1.0
